<div class="page-header">
  <%= link_to missions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_mission_path(@mission), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>
    <%= @mission.name %>
    <small><%= @mission.date %> - <%= @mission.company %></small>
  </h1>
  <div><strong>Contact:</strong> <%= @mission.customer_point_of_contact %></div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Backlog</h2>

    <ul class="list-group">
      <% @mission.backlog.backlog_items.each do |item| %>
        <li class="list-group-item">
          <div>
            <h3><%= item.question.contents %></h3>
            <div class="pull-right">
              <a href="/pictures/new?backlog_item_id=<%= item.id %>">add a picture</a>
            </div>
          </div>
          <div>Assigned to: <%= User.find(item.assigned_to).name %></div>
          <div>
            <%= link_to "edit", edit_backlog_item_path(item)  %> |
            <%= link_to "destroy", item, method: :delete  %>
          </div>
          <div class="row">
            <% item.pictures.each do |picture| %>
              <div class="col-md-3"><%= link_to image_tag(picture.image_url.url, class: 'img-responsive'), picture %></div>
            <% end %>
          </div>
          <h4>Insights</h4>
          <ul class="list-group">
            <% item.insights.each do |insight| %>
              <li class="list-group-item">
                <strong><%= insight.user.name %>:</strong> <%= insight.contents %>
                <div>
                  <%= link_to "edit", edit_insight_path(insight)  %> |
                  <%= link_to "destroy", insight, method: :delete  %>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="row">
            <div class="col-md-12">
              <h4>Add an insight:</h4>
              <% insight = item.insights.build %>
              <%= form_for insight do |f| -%>
                <% if @question.errors.any? %>
                  <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h5>

                    <ul>
                    <% @question.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>

                  </div>
                <% end %>
                <%= f.hidden_field :insightable_id, :class => "form-control" %>
                <%= f.hidden_field :insightable_type, :class => "form-control" %>
                <%= f.hidden_field :user_id, value: current_user.id, :class => "form-control" %>
                <div class="form-group">
                  <%= f.label :contents, :class => "control-label sr-only" %>
                  <%= f.text_field :contents, :class => "form-control", placeholder: "What was your aha?" %>
                </div>
              <% end -%>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

  </div>
  <div class="col-md-6">

    <h3>Add new question to the Backlog</h3>
    <%= form_for(@question, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
      <% if @question.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>

          <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :contents, :class => "control-label sr-only" %>
        <div class="col-sm-10">
          <%= f.text_field :contents, :class => "form-control" %>
        </div>
      </div>
      <%= f.hidden_field :questionable_id, value: @question.questionable_id, :class => "form-control" %>
      <%= f.hidden_field :questionable_type, value: @question.questionable_type, :class => "form-control" %>
      <%= f.fields_for :backlog_item do |backlog_item_fields| %>
          <%= backlog_item_fields.hidden_field :backlog_id, value: @mission.backlog.id %>
          <%= backlog_item_fields.hidden_field :assigned_to, value: current_user.id %>
          <div class="form-group">
              <div class="col-sm-10">
              <label for="assigned_to">Assigned to:</label>
                <%= backlog_item_fields.collection_select :assigned_to, User.all, :id, :name, :class => "form-control" %>
              </div>
          </div>
        <% end %>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <h2>- or -</h2>
    <h3>Add an existing question to the backlog</h3>
    <%= form_for(BacklogItem.new, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
      <% if @question.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>

          <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

          <%= f.hidden_field :backlog_id, value: @mission.backlog.id, :class => "form-control" %>
      <div class="form-group">
          <div class="col-sm-10">
            <%= f.collection_select :question_id, Question.all, :id, :contents, :class => "form-control" %>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-10">
          <label for="assigned_to">Assigned to:</label>
            <%= f.collection_select :assigned_to, User.all, :id, :name, :class => "form-control" %>
          </div>
      </div>
      <div class="form-group">

        <div class="col-sm-10">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>


  </div>
</div>

<!-- <div class="row">
  <div class="col-md-4">
    <h2>Environments</h2>

      <h3>Add a new environment</h3>
      <%= form_for(@environment, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
        <% if @environment.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h4>

            <ul>
            <% @environment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :desc, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_area :desc, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :image, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.file_field :image %>
          </div>
        </div>
          <%#= f.fields_for :backlog_item do |backlog_item_fields| %>
            <%#= backlog_item_fields.hidden_field :backlog_id, value: @mission.backlog.id %>
            <%#= backlog_item_fields.hidden_field :assigned_to, value: current_user.id %>
            <div class="form-group">
                <div class="col-sm-10">
                <label for="assigned_to">Assigned to:</label>
                  <%#= backlog_item_fields.collection_select :assigned_to, User.all, :id, :name, :class => "form-control" %>
                </div>
            </div>
          <%# end %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%#= f.submit :class => "btn btn-primary" %>
          </div>
        </div>
      <% end %>

  </div>
  <div class="col-md-4">
    <h2>Personas</h2>
  </div>
  <div>
    <h2>Procedures</h2>
  </div>
</div> -->


