<%= form_for(@insight, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @insight.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@insight.errors.count, "error") %> prohibited this insight from being saved:</h4>

      <ul>
      <% @insight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :contents, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :contents, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :insightable_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :insightable_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :insightable_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :insightable_type, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :user_id, User.all, :id, :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
